.contact {
  height: 100%;
  padding-top: 25vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/home.webp') center;

  background-size: cover;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }
  .fas{
    letter-spacing: 2px;
  }
}
.text-secondary {
  color: ($secondary-color);
  padding-top: 8px;
}

#jbn {
  position: initial;
  margin-top: 2rem;
}
